<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <title>Document</title>
  </head>

  <body>
    <h1>Celebrities</h1>

    <ul>
      {{#each allCelebrities}}
        <li>
          <p><a href="/celebrities/{{this._id}}">{{this.name}}</a></p>
        </li>
      {{/each}}
    </ul>

    <a href="/celebrities/new">add a celebrity</a>
  </body>

</html>