<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
  <title>Document</title>
</head>

<body class="container">
  <h1>Celebrities</h1>

  <ul>
    <% for (const celebrity of allCelebrities) { %>
      <li style="list-style-type: none;">
        <p>
          <a style="text-decoration: none; font-size: 1rem" href="/celebrities/<%= celebrity._id %>"><%= celebrity.name %></a>
        </p>
        <div style="display: flex; gap: 20px">
          <form method="post" action="/celebrities/<%= celebrity._id %>/delete">
            <button type="submit" style="width: 150px;">Delete</button>
          </form>
          <form method="get" action="/celebrities/<%= celebrity._id %>/edit">
            <button type="submit" style="width: 150px;">Edit</button>
          </form>
        </div>
      </li>
    <% } %>
  </ul>

  <a style="font-size: 1rem" href="/celebrities/new">add a celebrity</a>
</body>

</html>