<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Celebrity Profile</h2>
    <h3>{{oneCelebrity.name}}</h3>
    <p>{{oneCelebrity.occupation}}</p>
    <q>{{oneCelebrity.catchPhrase}}</q>
</body>
</html>